<nav class="intro">
  <ul>
    <li><button data-section-link="about" tabindex="-1">About</button></li>
    <li><button data-section-link="work" tabindex="-1">Work</button></li>
    <li><button data-section-link="contact" tabindex="-1">Contact</button></li>
  </ul>
</nav>
<nav class="scrolled">
  <img data-section-link="intro" src="images/logo320_v1.svg" alt="logo">
  <ul>
    <li><button data-section-link="about" tabindex="-1">About</button></li>
    <li><button data-section-link="work" tabindex="-1">Work</button></li>
    <li><button data-section-link="contact" tabindex="-1">Contact</button></li>
  </ul>
</nav>
