<section data-section data-orientation data-viewport-height id="intro">
  <button data-section-link="about" class="next" tabindex="-1"></button>
  <div class="content">
    <div>
      <h1>Ben Bolthouse</h1>
      <img src="images/logo320_v1.svg" alt="logo">
      <span>
        I create interactive experiences for the web
      </span>
    </div>
  </div>
</section>
