@use '../global' as global;

article#home section#intro {
  background: radial-gradient(ellipse at bottom, global.$color-a, global.$color-a-2);
  text-align: center;
  .content {
    place-content: center center;
    > div {
      max-width: 32rem;
      h1 {
        font-family: 'Roboto';
        font-size: 2rem;
        font-weight: 100;
        line-height: 2rem;
        height: 2rem;
        margin: 1.5rem 0;
      }
      img {
        filter: invert(100%);
        margin: 0 auto;
        width: 6rem;
        height: 6rem;
      }
      span {
        font-family: 'Pragati Narrow', Arial, Helvetica, sans-serif;
        font-size: (64rem / 16);
        font-weight: 700;
        line-height: (64rem / 16);
        margin: 2rem 0;
        text-transform: uppercase;
      }
      * {
        color: white;
      }
    }
  }
}
