<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index,follow">
  <meta name="description" content="{{head.description}}">
  <meta name="keywords" content="{{head.keywords}}">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="style.min.css">
  <title>{{head.title}}</title>
</head>
<body>

  {{{body}}}

  <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
