// breakpoints
$breakpoint-mobile-portrait: 32rem;
$breakpoint-mobile-landscape: 40rem;
$breakpoint-small-desktop: 48rem;
$breakpoint-large-desktop: 72rem;

// colors
$col-a-1: #152020;
$col-a-2: #364747;
$col-a-3: #637070;
$col-a-4: #7e8888;
$col-a-5: #ebeeee;

$col-info-dk: #0091d4;
$col-info-lt: #61cdff;

$color-a: #8f2d56;
$color-a-2: #5c1756;
$color-primary-off: #d81159;
$color-primary-off-2: #218380;
$color-primary-off-3: #c2cccc;
$color-primary-off-more: #cfd7e1;
$color-secondary-regular: #e87000;

// navigation
$nav-height: 3.25rem;
$nav-switch-speed: 0.25s;
