<div data-page id="page">
  <article data-article data-viewport-height id="home">

    {{>home.nav}}
    {{>home.section-intro}}
    {{>home.section-about}}
    {{>home.section-work}}
    {{>home.section-contact}}

  </article>
</div>
