// Styles config
@import './reset';
@import './type';

// Resets
div, form, ul, li, a, section {
  display: grid;
}

// Top level rules
body {
  display: block;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

// rules set the height to mobile viewport excluding browser chrome
[fitviewport] {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

// Views scoped styles
@import './home';
