// Styles config
@import './reset';
@import './type';

// Resets
div, form, ul, li, a, section {
  display: grid;
}

// Top level rules
body {
  display: block;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

// Views scoped styles
@import './home';
