@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Quicksand:wght@300;400&display=swap');

body * {
  font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
}

$_pxSizes: (
  (14rem, '14'),
  (15rem, '15'),
  (16rem, '16'),
  (18rem, '18'),
  (20rem, '20'),
  (24rem, '24'),
  (28rem, '28'),
  (32rem, '32'),
  (36rem, '36'),
  (40rem, '40'),
  (44rem, '44'),
  (48rem, '48')
);

@each $s, $t in $_pxSizes {
  .font-#{$t} {
    $a: $s / 16;
    font-size: $a;
    line-height: $a + 0.75rem;
    min-height: $a + 0.75rem;
  }
}

@mixin font-14 {
  $a: (14rem / 16);
  font-size: $a;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
@mixin font-15 {
  $a: (15rem / 16);
  font-size: $a;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
@mixin font-16 {
  $a: 1rem;
  font-size: 1rem;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
@mixin font-18 {
  $a: (18rem / 16);
  font-size: $a;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
@mixin font-20 {
  $a: (20rem / 16);
  font-size: $a;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
@mixin font-24 {
  $a: (24rem / 16);
  font-size: $a;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
@mixin font-28 {
  $a: (28rem / 16);
  font-size: $a;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
@mixin font-32 {
  $a: (32rem / 16);
  font-size: $a;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
@mixin font-36 {
  $a: (36rem / 16);
  font-size: $a;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
@mixin font-40 {
  $a: (34rem / 16);
  font-size: $a;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
@mixin font-44 {
  $a: (44rem / 16);
  font-size: $a;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
@mixin font-48 {
  $a: (48rem / 16);
  font-size: $a;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
@mixin font-52 {
  $a: (52rem / 16);
  font-size: $a;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
@mixin font-56 {
  $a: (56rem / 16);
  font-size: $a;
  line-height: $a + 0.75rem;
  min-height: $a + 0.75rem;
}
