@import './panel-a.scss';

article.home-page {
  display: block;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  section {
    grid-template: 5rem auto 7rem / 2rem auto 2rem;
    scroll-snap-align: start;
    position: relative;
    height: 100%;
    width: 100%;
    > .content {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
    > .scroll-next {
      $size: 3rem;
      justify-content: center;
      position: absolute;
      right: 0;
      bottom: 2rem;
      left: 0;
      pointer-events: none;
      height: $size;
      z-index: 100;
      > .push-container {
        align-content: center;
        justify-content: center;
        cursor: pointer;
        background-color: blue;
        border-radius: 50%;
        pointer-events: initial;
        height: $size;
        width: $size;
        z-index: 101;
        animation: scroll-next-bounce 5s infinite;
        > ion-icon {
          font-size: 2rem;
        }
      }
      @keyframes scroll-next-bounce {
        0% {
          margin-top: 0rem;
        }
        92% {
          margin-top: 0rem;
        }
        96% {
          margin-top: -1rem;
        }
        98% {
          margin-top: 0rem;
        }
        99% {
          margin-top: -0.25rem;
        }
        100% {
          margin-top: 0rem;
        }
      }
    }
  }
}

@media screen and (min-width: 76rem) {
  article.home-page {
    section {
      grid-template-columns: auto 72rem auto;
    }
  }
}
