<article id="article" class="fit-viewport home-page">
  <section id="panelA" class="fit-viewport panel-a">
    <div class="content"></div>
    <div class="scroll-next"><div class="push-container"></div></div>
  </section>
  <section id="panelB" class="fit-viewport panel-b">
    <div class="scroll-next"><div class="push-container"></div></div>
  </section>
  <section id="panelC" class="fit-viewport panel-c">
    <div class="scroll-next"><div class="push-container"></div></div>
  </section>
  <section id="panelD" class="fit-viewport panel-d">
    <div class="scroll-next"><div class="push-container"></div></div>
  </section>
  <section id="panelE" class="fit-viewport panel-e">
  </section>
  {{#each modules}} <script defer type="module" src="{{this}}"></script>{{/each}}
</article>
