<article id="article" class="fit-viewport home-page">
  <section id="panelA" class="fit-viewport panel-a">
    <div class="content">
      <img src="images/logo320_v1.svg" alt="logo" class="logo">
      <img src="images/logo320_v1.svg" alt="logo" class="landscape-logo">
      <div class="inner">
        <h1>Hi, my name is <span>Ben</span></h1>
        <sub>I make engaging & compelling internet experiences.</sub>
        <hr>
        <p>Scroll down to view my projects, blog articles and updates</p>
        <p>or...</p>
        <a href=="/#">Let's get in touch</a>
      </div>
    </div>
    <div class="fit-viewport ether far"></div>
    <div class="fit-viewport ether near"></div>
    <div class="scroll-next">
      <div class="push-container">
        <ion-icon name="chevron-down-sharp"></ion-icon>
      </div>
    </div>
  </section>
  <section id="panelB" class="fit-viewport panel-b">
    <div class="scroll-next"><div class="push-container"></div></div>
  </section>
  <section id="panelC" class="fit-viewport panel-c">
    <div class="scroll-next"><div class="push-container"></div></div>
  </section>
  <section id="panelD" class="fit-viewport panel-d">
    <div class="scroll-next"><div class="push-container"></div></div>
  </section>
  <section id="panelE" class="fit-viewport panel-e">
  </section>
  {{#each modules}} <script defer type="module" src="{{this}}"></script>{{/each}}
</article>
