<article id="article" fitviewport class="home-page">
  <section id="panelA" fitviewport class="panel-a">
    <div class="content"></div>
    <div class="scroll-next">
      <button>
        <ion-icon name="chevron-down-sharp"></ion-icon>
      </button>
    </div>
  </section>
  <section id="panelB" fitviewport class="panel-b">
    <div class="scroll-next">
      <button>
        <ion-icon name="chevron-down-sharp"></ion-icon>
      </button>
    </div>
  </section>
  <section id="panelC" fitviewport class="panel-c">
    <div class="scroll-next">
      <button>
        <ion-icon name="chevron-down-sharp"></ion-icon>
      </button>
    </div>
  </section>
  <section id="panelD" fitviewport class="panel-d">
    <div class="scroll-next">
      <button>
        <ion-icon name="chevron-down-sharp"></ion-icon>
      </button>
    </div>
  </section>
  <section id="panelE" fitviewport class="panel-e">
  </section>
</article>

<script defer type="module">
  import { Article, Panel } from '/module.home-panels.js';
  import { updateViewportHeightStyles } from '/module.site.js';

  const updatesOnScroll = [updateViewportHeightStyles()];

  document.addEventListener('DOMContentLoaded', () => {
    const article = new Article(document.getElementById('article'), updatesOnScroll);
    article.add(new Panel('panelA', document.getElementById('panelA'), article.element));
    article.add(new Panel('panelB', document.getElementById('panelB'), article.element));
    article.add(new Panel('panelC', document.getElementById('panelC'), article.element));
    article.add(new Panel('panelD', document.getElementById('panelD'), article.element));
    article.add(new Panel('panelE', document.getElementById('panelE'), article.element));
  });
</script>
