<article id="article" class="home-page">
  <section id="panelA" class="panel-a">Section 1</section>
  <section id="panelB" class="panel-b">Section 2</section>
  <section id="panelC" class="panel-c">Section 3</section>
  <section id="panelD" class="panel-d">Section 4</section>
  <section id="panelE" class="panel-e">Section 5</section>
  {{#each modules}} <script defer type="module" src="{{this}}"></script>{{/each}}
</article>
