<article id="article" class="home-page">
  <section id="panelA" class="panel-a">
    <div class="content"></div>
    <div class="scroll-next"><div class="push-container"></div></div>
  </section>
  <section id="panelB" class="panel-b">
    <div class="scroll-next"><div class="push-container"></div></div>
  </section>
  <section id="panelC" class="panel-c">
    <div class="scroll-next"><div class="push-container"></div></div>
  </section>
  <section id="panelD" class="panel-d">
    <div class="scroll-next"><div class="push-container"></div></div>
  </section>
  <section id="panelE" class="panel-e">
  </section>
  {{#each modules}} <script defer type="module" src="{{this}}"></script>{{/each}}
</article>
