<article class="home-page">
  <section class="panel-a">Section 1</section>
  <section class="panel-b">Section 2</section>
  <section class="panel-c">Section 3</section>
  <section class="panel-d">Section 4</section>
  <section class="panel-e">Section 5</section>
</article>
